/* style.css */
.root {
    -fx-padding: 10;
    -fx-font-size: 14px;
    -fx-font-family: "Courier New";
}

.label {
    -fx-text-fill: #333;
}

/* styles.css */
.button {
    -fx-background-color: #01204f;
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 15 15 15;
}

.button:hover {
    -fx-background-color: linear-gradient(#e68400, #ffd65b);
}

.button:pressed {
    -fx-background-color: linear-gradient(#e68400, #ffab33);
}


.text-field {
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-padding: 5;
}
